

<style type="text/css">

  blockquote {
    background: #d6e1fd;
    border-left: 10px solid #FF1606;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }

  blockquote p {
    display: inline;
  }
  
  /* code that is written inline */
  p > code {
    font-family: monospace;
    font-size: 120%;
    background-color: azure;
  }


   li > code {
    font-family: monospace;
    background-color: azure;
    line-height: 2em;
    font-size: 120%;
  }
  body {
      margin: auto;
      padding-right: 2em;
      padding-left: 1em;
      max-width: 60em; 
      border-left: 1px solid black;
      border-right: 1px solid black;
      color: black;
      font-family: Verdana, sans-serif;
      font-size: 100%;
      line-height: 140%;
      color: #333; 
  }
  
  table {
   border: 1pt solid black;
   border-collapse: collapse;
   padding: 5px;
  }
  
  thead {
   background-color: azure;
  }
  
  th, td {
   border: 1pt solid black;
   padding: 10px;
  }


  div > img {
    padding: 20px;
    border:2px solid #5F9BFF;
    width: 80%;
  }


  code {
   padding: 10px;
  }

  /* give the header some space */
  #header {
    margin-top: 2em;
    margin-bottom: 2em;
    font-style: italic;
  }

  /*
    limit the width of images to 80%
  */
  div > pre {
    font-size: 1.1em;
    width: 80%;
  }

  div.sourceCode {
    width: 80%;
    padding-left: 5px;
    border: 2px solid #5F9BFF;
    margin-left: 10px;
  }


  /*
    images have a caption,
    color them and make
    them italic
  */
  .caption {
    margin-top: -2px;
    font-style: italic;
    color: #5F9BFF;
  }

  .title {
    margin-top: 0em;
    font-style: italic;
  }

  .subtitle {
    margin-top: 0em;
  }

  h1 + .date {
    margin-top: 0em;
    margin-bottom: 0em;
  }

  h2 + .author {
    margin-top: 0em;
    font-size: 1em;
  }

  #TOC:before {
    content: 'Table of content:';
    font-size: 2em;
    color: #5F9BFF;
  }

  #TOC {
    margin-top: 4em;
    margin-bottom: 4em;
  }


  /*
    we would like to get a vertical line between each "chapter"
  */
  h1 .header-section-number:before {
    content: ' ';
    display: block;
    border: 1px solid #001060;
    margin-bottom: 10px;
  }

  h1 {
    margin-top: 4em;
    color: #001060;
  }

  h2 {
    color: #0642DE;
    margin-bottom: -10px;
  }

  h3 {
    color: #0450C7;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  h4 {
    color: #0683D4;
    margin-bottom: -10px;
  }

</style>